

body {

  font-family: sans-serif;
  background: linear-gradient(#000000, #434343);
}


.btn {
  display: inline-block;
  border:1px solid;
  padding: 11px 21px;
  vertical-align: middle;
  background:#7160B0;
  color:white;
  border-radius:6px;
  font-size: 15px;
  font-family:helvetica, serif;
  text-decoration:none;
}



