
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Séries</li>
    </ol>
  </nav>
  <div class="container">
    <div class="card">
      <h5 class="card-header">Lista de séries</h5>
      <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Gênero</th>
                <th scope="col">Sinopse</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let series of seriesList">
                <td>{{series.name}}</td>
                <td>{{series.gender}}</td>
                <td>{{series.description}}</td>
                <td>
                  <div class="box-row box1">
                    <div class="box-cell">
                      <button type="button" class="btn" (click)="editSerie(series)">Editar</button>
                    </div>
                    <div class="box-cell box2">
                      <button type="button" class="btn" (click)="deleteSerie(series)">Deletar</button>
                    </div>

                </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>

    <div class="card add-car">
        <h5 class="card-header">Adicionar/Atualizar série</h5>
        <div class="card-body">
            <form id="add-form" (ngSubmit)="f.form.valid && saveSerie(f)" #f="ngForm" novalidate>
              <div class="form-group">
                  <label for="model">Nome</label>
                  <input type="text" [(ngModel)]="series.name" id="name" name="name" #name="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" placeholder="Digite o nome">
                  <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                      <div *ngIf="name.errors?.['required']">Nome é obrigatório</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="color">Gênero</label>
                  <input type="text" [(ngModel)]="series.gender" id="gender" name="gender" #gender="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }" placeholder="Digite o gênero">
                  <div *ngIf="f.submitted && gender.invalid" class="invalid-feedback">
                      <div *ngIf="gender.errors?.['required']">Gênero é obrigatório</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="description">Sinopse</label>
                  <input type="text" [(ngModel)]="series.description" id="description" name="sinopse" #description="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" placeholder="Digite a sinopse">
                  <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                      <div *ngIf="description.errors?.['required']">Sinopse é obrigatória</div>
                  </div>
              </div>
              <div>
              <button type="submit" class="btn">Salvar</button>
            </div>
              <div>
              <button type="reset" class="btn" (click)="cleanForm(f)">Cancelar</button>
            </div>
            </form>
        </div>
      </div>
  </div>
</body>
</html>

